* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  color: #535353;
}

body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background: url(../images/pattern.jpg) #c9ba93;
  background-repeat: repeat;
}
body .paper {
  background-color: #ffffff;
  max-width: 50em;
  margin: 2em auto;
  border-radius: 2em;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.7);
}
body header {
  border-bottom: solid rgb(196, 194, 194) 1px;
}
body header .header-content {
  padding: 2em 2em 2em 1em;
  margin: 0 0 0 4em;
  border-left: solid rgb(196, 194, 194) 1px;
}
body main {
  min-height: 41em;
  background: repeating-linear-gradient(180deg, #ffffff, #ffffff 31px, #c4c2c2 31px, #c4c2c2 32px);
}
body main .main-content {
  padding: 2em 3em 2em 2em;
  margin: 0 0 0 4em;
  border-left: solid rgb(196, 194, 194) 1px;
  height: 100%;
  min-height: 41em;
}
body footer .footer-content {
  padding: 2em 2em 2em 1em;
  margin: 0 0 0 4em;
  border-left: solid rgb(196, 194, 194) 1px;
}

br {
  content: "";
  margin: 2em;
  display: block;
}

p {
  font-size: 1.5em;
  line-height: 1.333333em;
}

h1 {
  line-height: 1em;
}

h2 {
  line-height: 1.333333em;
}

.header-content {
  display: flex;
  justify-content: space-between;
}
.header-content .logo-wrap {
  position: relative;
}
.header-content .logo-wrap .logo {
  position: absolute;
  height: 8em;
  width: 8em;
  background: url(../images/post5.png);
  background-size: cover;
  top: -3em;
  right: -2em;
  transform: rotate(346deg);
}
.header-content .menu-wrap {
  position: relative;
}
.header-content .menu-wrap .header-menu {
  display: flex;
  position: absolute;
  top: -3em;
  right: 0em;
}
.header-content .menu-wrap .header-menu .menu-1 {
  background: url(../images/post1.png);
}
.header-content .menu-wrap .header-menu .menu-1-open {
  background: url(../images/post1open.png);
}
.header-content .menu-wrap .header-menu .menu-2 {
  background: url(../images/post2.png);
}
.header-content .menu-wrap .header-menu .menu-2-open {
  background: url(../images/post2open.png);
}
.header-content .menu-wrap .header-menu .menu-3 {
  background: url(../images/post3.png);
}
.header-content .menu-wrap .header-menu .menu-3-open {
  background: url(../images/post3open.png);
}
.header-content .menu-wrap .header-menu .menu-4 {
  background: url(../images/post4.png);
}
.header-content .menu-wrap .header-menu .menu-4-open {
  background: url(../images/post4open.png);
}
.header-content .menu-wrap .header-menu .dropdown {
  background: url(../images/dropdown.png);
  display: none;
}
.header-content .menu-wrap .header-menu .menu {
  height: 6em;
  width: 6em;
  background-size: cover;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content .eraser-wrapper {
  position: relative;
}
.footer-content .eraser-wrapper .eraser {
  height: 7em;
  width: 7em;
  background: url(../images/eraser.png);
  background-size: contain;
  position: absolute;
  top: -6em;
  left: -2em;
}

main {
  display: flex;
}
main .spiral-wrapper {
  background-color: aqua;
  position: relative;
}
main .spiral-wrapper .spiral {
  position: absolute;
  background: url(../images/spiral.png);
  background-size: contain;
  width: 3em;
  height: 100%;
  left: -1.7em;
}

.img-map {
  width: 30em;
  height: 30em;
  background-image: repeating-linear-gradient(180deg, rgba(255, 255, 238, 0.5), rgba(255, 255, 238, 0.5) 31px, rgba(196, 194, 192, 0.5) 31px, rgba(196, 194, 192, 0.5) 32px), url("https://picsum.photos/480/480");
}

.img-map {
  width: 30em;
  height: 30em;
  background-image: repeating-linear-gradient(180deg, rgba(255, 255, 238, 0.5), rgba(255, 255, 238, 0.5) 31px, rgba(196, 194, 192, 0.5) 31px, rgba(196, 194, 192, 0.5) 32px), url(../images/map.png);
}

.picture {
  filter: grayscale(100%);
  overflow: hidden;
}
.picture:after {
  content: "";
  background: inherit;
  filter: grayscale(100%) invert(100%) blur(10px);
  mix-blend-mode: color-dodge;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .header-content .menu-wrap .header-menu .dropdown {
    display: block;
    right: -2em;
  }
}